<div class="example-container">


    <mat-toolbar color="" class="example-toolbar">
        <div class="example-app-name" id="title">Soccer Stats</div>
        <span class="example-spacer"></span>

        <button (click)="routlogin()" style="position:initial; margin-right: -0.5%; color: azure; background-color: rgb(59, 59, 59);"
            mat-icon-button matTooltip="Login" id="button1" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon style="color: azure;">account_circle</mat-icon>
        </button>
        <button (click)="routregister()" style="margin-right: -0.5%;color: azure; background-color: rgb(59, 59, 59);"
            mat-icon-button matTooltip="Register" id="button1" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon style="color: azure;">how_to_reg</mat-icon>
        </button>
        <button style="margin-right: 0.5%;color: azure; background-color: rgb(59, 59, 59);" mat-icon-button
            matTooltip="Home" id="button1" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon style="color: azure;">home</mat-icon>
        </button>

    </mat-toolbar>
    
    <mat-card id="no-repeats" style="height: 100%; background-color: white;">
        <h1 id="non">Page non found</h1>
        <img class="imgd" id="fourd" src="https://cdn.pixabay.com/photo/2015/02/13/09/48/pay-634911_1280.png"  /> 
        <img class="imgl" id="fourl" src="https://cdn.pixabay.com/photo/2015/02/13/09/48/pay-634911_1280.png"  /> 
        
        <div id="gifs">
        </div>
        
    </mat-card>
    
    
</div>