<mat-tab-group id="tabs">
    <mat-tab id="matab" style="height: 1200 px;" label="Resultados">

        <div class="example-large-box mat-elevation-z4">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: #14ccb3;">
                    <mat-icon matTooltip="Buscar">search</mat-icon>Buscar
                </mat-label>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-touched" matInput
                    placeholder="Busca cualquier palabra">
            </mat-form-field>
            <div class="contenedor">

            </div>
        </div>

    </mat-tab>
    <mat-tab id="matab" label="Noticias">
        <div class="example-large-box mat-elevation-z4">
            <mat-button-toggle-group id ="toggle" #group="matButtonToggleGroup">
                <mat-button-toggle  (click)="allFavorites()" value="left" aria-label="Text align left">
                    <mat-icon matTooltip="Favoritos">favorite_border</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle (click)="allNews()" value="left"  aria-label="Text align left">
                    <mat-icon matTooltip="Todos">list</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field  id= "busca" class="example-full-width" appearance="fill">
                <mat-label style="color: #14ccb3;">
                    <mat-icon matTooltip="Buscar">search</mat-icon>Buscar
                </mat-label>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-touched" matInput
                    placeholder="Busca cualquier palabra" (keyup)="filtrarNoticias($event)">
            </mat-form-field>
            
            <div class="contenedor">
                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell style="text-align: left;" *matHeaderCellDef> No. </th>
                        <td mat-cell style="width: 4%;" *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Título </th>
                        <td mat-cell style="width: 20%; text-align: center;" *matCellDef="let element">
                            {{element.title}}
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Descripción </th>
                        <td mat-cell style="width: 20%; text-align: center;" *matCellDef="let element">
                            {{element.description}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Fecha </th>
                        <td mat-cell style="width: 15%; text-align: center;" *matCellDef="let element">
                            {{element.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="photo">
                        <th mat-header-cell style="text-align: center; " *matHeaderCellDef> Foto </th>
                        <td mat-cell style="width: 15%; align-items: center; justify-content: center;text-align: center;
                      position: center;" *matCellDef="let element">
                            <img id='imgRedonda' style="object-fit:cover;" [src]="element.photo" class="img-fluid"
                                alt="no image" width="50" height="50" matTooltip="{{element.title}}">

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                </table>
            </div>
        </div>
    </mat-tab>
    <mat-tab id="matab" label="Equipos">
        <div class="example-large-box mat-elevation-z4">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: #14ccb3;">
                    <mat-icon matTooltip="Buscar">search</mat-icon>Buscar
                </mat-label>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-touched" matInput
                    placeholder="Busca cualquier palabra" (keyup)="filtrarequipos($event)">
            </mat-form-field>
            <div class="contenedor">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell style="text-align: left;" *matHeaderCellDef> No. </th>
                        <td mat-cell style="width: 4%;" *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Nombre </th>
                        <td mat-cell style="width: 20%; text-align: center;" *matCellDef="let element"> {{element.name}}
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Fecha </th>
                        <td mat-cell style="width: 20%; text-align: center;" *matCellDef="let element">
                            {{element.foundation_date}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="country">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Ciudad </th>
                        <td mat-cell style="width: 15%; text-align: center;" *matCellDef="let element">
                            {{element.nicename}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                        <th mat-header-cell style="text-align: center; " *matHeaderCellDef> Acción </th>
                        <td mat-cell style="width: 15%; align-items: center; justify-content: center;text-align: center;
                      position: center;" *matCellDef="let element">
                            <button mat-mini-fab style="color: rgb(252, 177, 195); background: rgb(201, 6, 51);"
                                (click)="addFavorites(element.id)">
                                <mat-icon matTooltip="me gusta">favorite</mat-icon>
                            </button>

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </mat-tab>
    <mat-tab id="matab" label="Favoritos">
        <div class="example-large-box mat-elevation-z4">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: #14ccb3;">
                    <mat-icon matTooltip="Buscar">search</mat-icon>Buscar
                </mat-label>
                <input class="ng-pristine ng-invalid ng-invalid-required ng-touched" matInput
                    placeholder="Busca cualquier palabra" (keyup)="filtrarfavoritos($event)">
            </mat-form-field>
            <div class="contenedor">
                <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="posicion">
                        <th mat-header-cell style="text-align: left;" *matHeaderCellDef> No. </th>
                        <td mat-cell style="width: 4%;" *matCellDef="let elements"> {{elements.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Nombre </th>
                        <td mat-cell style="width: 20%; text-align: center;" *matCellDef="let elements">
                            {{elements.name}}
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Fecha </th>
                        <td mat-cell style="width: 20%; text-align: center;" *matCellDef="let elements">
                            {{elements.foundation_date}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="country">
                        <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Ciudad </th>
                        <td mat-cell style="width: 15%; text-align: center;" *matCellDef="let elements">
                            {{elements.country}} </td>
                    </ng-container>

                    <ng-container matColumnDef="photo">
                        <th mat-header-cell style="text-align: center; " *matHeaderCellDef> Foto </th>
                        <td mat-cell style="width: 15%; align-items: center; justify-content: center;text-align: center;
                      position: center;" *matCellDef="let element">
                            <img id='imgRedonda' style="object-fit:cover;" [src]="element.photo" class="img-fluid"
                                alt="no image" width="50" height="50" matTooltip="{{element.name}}">

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                        <th mat-header-cell style="text-align: center; " *matHeaderCellDef> Acción </th>
                        <td mat-cell style="width: 15%; align-items: center; justify-content: center;text-align: center;
                      position: center;" *matCellDef="let elements">
                            <button mat-mini-fab style=" color: rgb(0, 0, 0); background: rgb(175, 76, 99);">
                                <mat-icon id="btn1" matTooltip="unfollow"></mat-icon>
                            </button>

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>