<div class="container">
  <div class="boton">
    <button class="mat-raised-button" routerLink="/pages/empleado/createJugador"
            type="submit">Crear Jugador</button>
  </div>
  <h1>
    Jugadores
  </h1>
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Posicion</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">foto</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Estado</th>
      <th scope="col">Eliminar</th>
      <th scope="col">Editar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of allJugadores;let indexOfelement=index;">
      <td>{{indexOfelement}}</td>
      <td>{{team.name}}</td>
      <td>{{team.lastname}}</td>
      <td>{{team.position}}</td>
      <td>{{team.birthdate}}</td>
      <td><img id='imgRedonda' style="object-fit:cover;" [src]="team.photo" class="img-fluid"
               alt="no image" width="50" height="50"></td>
      <td>{{team.idCountry}}</td>
      <td>{{team.status}}</td>
      <td><a  href="/pages/empleado/jugadores" (click)="deleteJugador(team.id)">Eliminar</a></td>
      <td><a  [routerLink]="['/pages/empleado/updateJugador',{id: team.id, name: team.name
      ,photo: team.photo,lastname: team.lastname, birthdate: team.birthdate,
      idCountry: team.idCountry, position: team.position, status: team.status, idTeam: returnTeam(team.id)
      , startDate : returnDate(team.id)}]">Editar</a></td>
    </tr>
    </tbody>
  </table>
</div>

