<div class="contenedor">
  <div class="example-container">
    <div class="contenedor">
      <mat-card id="card1" fxFlex="200%" fxFlex.sm="100%">
        <mat-card width="100%" id="card">
          <h1 id="textalig">
            Ingresar Incidencia
          </h1>
        </mat-card>
        <br>
        <mat-grid-list id="tables" cols="2" rowHeight="4rem">
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Jugador</mat-label>
              <mat-select  [(ngModel)]="id_player">
                <mat-option *ngFor="let ciudad of allJugadores" [value]="ciudad.id" >
                  {{ciudad.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Equipo</mat-label>
              <mat-select  [(ngModel)]="id_team">
                <mat-option *ngFor="let ciudad of equipos " [value]="ciudad.id" >
                  {{ciudad.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Partido</mat-label>
              <mat-select  [(ngModel)]="id_game">
                <mat-option *ngFor="let ciudad of games" [value]="ciudad.id" >
                  {{ciudad.id}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label id="inputmat1">Descripcion</mat-label>
              <input matInput [(ngModel)]="descripcion" id="inputmat" name="title" placeholder="Ingrese Descripcion"
                     required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label id="inputmat1">Minuto</mat-label>
              <input matInput [(ngModel)]="minuto" id="inputmat" name="title" placeholder="Ingrese Minuto"
                     required>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <br>
        <button mat-raised-button (click)="ingresarIncidencia()" id="espacio" color="primary"
                class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <mat-icon>edit</mat-icon>Ingresar Incidencia
        </button>
      </mat-card>
    </div>
  </div>
</div>
