<div class="container">
  <div class="boton">
    <button class="mat-raised-button" routerLink="/pages/empleado/createTorneo"
            type="submit">Crear Competicion</button>
  </div>
  <h1>
    Competiciones
  </h1>
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">idCiudad</th>
      <th scope="col">championTeam</th>
      <th scope="col">year</th>
      <th scope="col">type</th>
      <th scope="col">Eliminar</th>
      <th scope="col">Editar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of allCompeticion;let indexOfelement=index;">
      <td>{{indexOfelement}}</td>
      <td>{{team.name}}</td>
      <td>{{team.idCountry}}</td>
      <td>{{team.championTeam}}</td>
      <td>{{team.year}}</td>
      <td>{{team.type}}</td>
      <td><a  href="/pages/empleado/competiciones" (click)="deleteCompeticion(team.id)">Eliminar</a></td>
      <td><a [routerLink]="['/pages/empleado/updateCompeticion',{id: team.id, name: team.name
      ,ciudad: team.idCountry,year : team.year, type : team.type, championTeam : team.championTeam}]">Editar</a></td>
    </tr>
    </tbody>
  </table>
</div>

